*{
    margin: 0px;
    padding: 0px;
}

.BG{
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -999;
}

.content{
    position: absolute;
    top: 400px;
    width: 100%;
    height: 200px;
    background-color: lightslategrey;
    opacity:0.5;
}

.sl{
    display: none;
    height: 100%;
    width: 100%;

    background-color: grey;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 100;
}

.slList{
    margin-top:30px;
}
.slItem{
    width: 100%;
    height: 80px;
    background-color: skyblue;
    margin-top:10px;
}

.slImg{
    width: 80px;
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
}

.slBtn{
    height: 40px;
    width: 60px;
    border-radius: 5px;
    margin-left: 236px;
    margin-top: 20px;
}
